.addgc {
    background: url(../img/add.png) no-repeat 10px 8px;
    display: block;
}
.deletegc {
    background: url(../img/delete.png) no-repeat 10px 8px;
    display: block;
}
.m_up {
    background-image: url(../images/arrow_up.png) !important;
}
.m_down {
    background-image: url(../images/arrow_down.png) !important;
}
/*GetFeatureInfo with Photos styles*/
.thumb {
    background: #dddddd;
    padding: 3px;
}
.thumb img {
    border: 1px solid white;
    height: 60px;
    width: 80px;
}
.thumb-wrap {
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
}
.thumb-wrap span {
    display: block;
    overflow: hidden;
    text-align: center;
}
.x-view-selected .thumb {
    background: #8db2e3;
}

.x-action-col-cell .gc_go_action {
    background-image: url("/images/table_go.png") !important;
    height: 16px;
    width: 16px;
}
.service-manager-icon
{
    background-image: url(../images/camera.png);
}
.mission_resource_edit{
	 background-image: url(../images/script_edit.png);

}
.gc_db_resource_edit,#GCDeResourceEditor,.x-panel-tl .x-panel-header.gc_db_resource_edit{
	 background-image: url(../images/database.png);

}
.gc_advanced_resource_edit,.x-panel-tl .x-panel-header.gc_advanced_resource_edit{
	 background-image: url(../images/wrench.png);

}
.gc-mobile-resource-edit,.x-panel-tl .x-panel-header.gc-mobile-resource-edit{
	 background-image: url(../images/phone.png);

}
.addgc{
background:url(../images/add.png) no-repeat 10px 8px;
display:block;
}
.deletegc{
background:url(../images/delete.png) no-repeat 10px 8px;
display:block;
}
.gui_json{
background:url(../images/door_in.png) no-repeat 10px 8px;
display:block;
}
.json_gui{
background:url(../images/door_out.png) no-repeat 10px 8px;
display:block;
}