.nrl_uom_ic{
    background-image: url(../img/nrl/ruler_2.png);
}
.nrl_crop_ic{
    background-image: url(../img/nrl/leaf.png);
}
.nrl_factor_ic{
    background-image: url(../img/nrl/temperature_1.png);
}