@import url("carousel.css");
@import url("ext.plupload.css");
@import url("extendedhtmleditor.css");
@import url("filebrowser.css");
@import url("filebrowser2.css");
@import url("plupload.css");

a.button{
background:url(img/button.gif);
display:block;
color:#555555;
font-weight:bold;
height:30px;
line-height:29px;
margin-bottom:14px;
text-decoration:none;
width:191px;
}
a:hover.button{
color:#0066CC;
}

div.geosolutions_logo {
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
width: 100%;
text-align: center;
height: 62px;
background: url('../img/logo.png') center no-repeat;
}

/* -------------------- */
/* CLASSES */
/* -------------------- */
.add{
background:url(../img/add.png) no-repeat 10px 8px;
text-indent:30px;
display:block;
}
.delete{
background:url(../img/delete.png) no-repeat 10px 8px;
text-indent:30px;
display:block;
}
.user{
background:url(img/user.gif) no-repeat 10px 8px;
text-indent:30px;
display:block;
}
.icon-layers{
	background-image:url(../img/layers.png) !important;
}
.icon-export{
	background-image:url(../img/world_link.png) !important;
}
.add .x-btn-text {
    background-image: url(../img/add.png);
}
.delete .x-btn-text {
    background-image: url(../img/delete.png);
}
.cross .x-btn-text {
    background-image: url(../img/cross.png);
}
.reset {
    background-image: url(../img/decline.png) !important;
}
.server_map {
    background-image: url(../img/server_map.png) !important;
}
.login {
    background-image: url(../img/door_in.png) !important;
}
.logout {
    background-image: url(../img/door_out.png) !important;
}
.user {
    background-image: url(../img/user.png) !important;
}
.close {
    background-image: url(../img/decline.png) !important;
}
.accept {
    background-image: url(../img/accept.png) !important;
}
.find {
    background-image: url(../img/zoom.png) !important;
}
.clear .x-btn-text {
    background-image: url(../img/Textfield.png);
}
.map_edit {
    background-image: url(../img/map_edit.png) !important;
}
.map_add {
    background-image: url(../img/map_add.png) !important;
}
.clone_map{
	background-image: url(../img/page_copy.png) !important;
}
.open_usermanager{
	background-image:url(../img/user.png) !important;
}
.open_userdataedit,
.user_edit {
	background-image:url(../img/user_edit.png) !important;
}
.user_add {
	background-image:url(../img/user_add.png) !important;
}
.user_delete{
	background-image:url(../img/user_delete.png) !important;
}
.map_delete {
    background-image: url(../img/map_delete.png) !important;
}
.map_edit {
    background-image: url(../img/map_edit.png) !important;
}
.map_edit .x-btn-text .x-btn {
    background-image: url(../img/map_edit.png);
}
.map_edit .x-btn-text-icon {
    background-image: url(../img/map_edit.png);
}
.table_edit,.x-panel-tl .x-panel-header.table_edit{
    background-image: url(../img/table_edit.png);
}

.resource_edit,.x-panel-tl .x-panel-header.resource_edit{
    background-image: url(../img/report_edit.png);
}

.row_expand {
    background-image: url(../img/add.png) !important;
}

.row_collapse {
    background-image: url(../img/delete.png) !important;
}

.ic_mobile {
    background-image: url(../img/mobile.png) !important;
}

.ic_qrcode {
    background-image: url(../img/qrcode.png) !important;
}

.pencil .x-btn-text {
    background-image: url(../img/pencil.png);
}
.tick .x-btn-text {
    background-image: url(../img/tick.png);
}
.view .x-btn-text {
    margin-left: -12px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-right: 3px;
    background-image: url(../img/zoom.png);
}

.x-btn-text-view {
    font:normal 11px arial,tahoma,verdana,helvetica;
    color:#333;
    cursor:pointer;
    white-space: nowrap;
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 2px; 
    padding-bottom: 3px;
    background-image: url(../img/zoom.png);
    background-repeat: no-repeat;
}
.x-btn-text-view2 {
    font:normal 11px arial,tahoma,verdana,helvetica;
    color:#333;
    cursor:pointer;
    white-space: nowrap;
    margin-left: -10px;
    margin-right: -20px;
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 2px; 
    padding-bottom: 3px;
    background-image: url(../img/zoom.png);
    background-repeat: no-repeat;
}
.x-btn-text-map_edit {
    font:normal 11px arial,tahoma,verdana,helvetica;
    color:#333;
    cursor:pointer;
    white-space: nowrap;
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 2px; 
    padding-bottom: 3px;
    background-image: url(../img/map_edit.png);
    background-repeat: no-repeat;
}
.x-btn-text-map_delete{
    font:normal 11px arial,tahoma,verdana,helvetica;
    color:#333;
    cursor:pointer;
    white-space: nowrap;
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 2px; 
    padding-bottom: 3px;
    background-image: url(../img/map_delete.png);
    background-repeat: no-repeat;
}

.expander-button-table button{
    color: #333333;
    font: 11px arial,tahoma,verdana,helvetica;
}

.user-role-label {
    font-weight: bold;
    font: tahoma,arial,verdana,sans-serif;
    color: #15428B;
    text-align:right;
}


.fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {
    position: relative;
    z-index: 999999;
    /*display: none !important;*/
}

.fb_edge_widget_with_comment span.fb_edge_comment_widget {
left: 80px !important;

}
/* Background for items selected in multiselect */
.ux-mselect-selected{
    background-color: rgb(204, 204, 204);
}
/** NEEDED TO MAKE MULTISELECT SCROLL **/
.ux-mselect{
    overflow:auto;
    background:white;
    position:relative; /* for calculating scroll offsets */
    zoom:1;
    overflow:auto;  
}

.embed-field-label {
    font-weight: bold;
    margin: 4px;
    vertical-align: baseline;
}
.embed-export-section {
    padding: 10px 10px 5px 10px;
    margin-bottom: 0;
}

.gx-map-go{
    background-image: url(../img/map_go.png);
}

.template_manger_ic{
    background-image: url(../img/layout.png);
}

.update_manager_ic{
    background-image: url(../img/database_gear.png);
}

.group_ic{
    background-image: url(../img/group.png);
}
.group_add_ic{
    background-image: url(../img/group_add.png);
}
.group_delete_ic{
    background-image: url(../img/group_delete.png);
}
.group_edit_ic{
    background-image: url(../img/group_edit.png);
}
.group_go_ic{
    background-image: url(../img/group_go.png);
}
.group_link_ic{
    background-image: url(../img/group_link.png);
}
.vcard_ic{
    background-image: url(../img/vcard.png);
}

.information_ic{
    background-image: url(../img/information.png);
}
.refresh_ic{
    background-image: url(../img/arrow_refresh.png);
}

.delete_ic {
    background:url(../img/delete.png)
}
.action_column_btn{
    background-repeat: no-repeat;
    width:20px;
    height:20px;
}

/* simple colors for rows red green yellow  */
.row-red {
    background-color: rgb(255, 134, 134);
}
.row-green {
    background-color: rgb(178, 235, 178);
}
.row-yellow  {
    background-color: rgb(255, 255, 161);
}
.gwc_ic{
    background-image: url(../img/gwc.png);
}


/* mxp_categoryinitializer */
.initCategoriesMessage{
    padding: 20px;
}
/* Resource permission */
.lock_ic{
    background-image: url(../img/lock.png);

}
/** schedule tasks **/
.sheduled_task_ic{
    background-image: url(../img/sheduled_task.png);
}
.clock_ic{
    background-image: url(../img/clock.png) !important;;
}

/* style for geostore dataview */
.chooser-view .x-view-selected {
background: #DFEDFF;
border: 1px solid #6593cf;
padding: 4px;
}
