<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <!--=====================================================================-->
    
    <bean class="org.springframework.beans.factory.config.PropertyOverrideConfigurer">
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="order" value="10"/>
        <property name="locations">
            <list>
                <value>classpath*:geobatch-config-ovr.properties</value>
                <!-- used for externalized override -->
                <value>${geobatch-ovr:dummy}</value>
                <value>file:///${GEOBATCH_CONFIG_FILE:dummy}</value>    
            </list>
        </property>
    </bean>
        
    <!-- ====================================================================-->

    <bean id="geoBatchMARISSDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url" value="jdbc:postgresql://localhost:5432/opensdi" />
		<property name="username" value="opensdi" />
		<property name="password" value="password" />
	</bean>

    <!-- ====================================================================-->
    <!-- ======= Spring JDBC DAOs ======-->
    <!-- ====================================================================-->
    
	<bean id="geoBatchMARISSServiceDAO" class="it.geosolutions.geobatch.mariss.dao.impl.JdbcServiceDAO">
		<property name="dataSource" ref="geoBatchMARISSDataSource" />
	</bean>
	
</beans>