body {
    font-family: tahoma,arial,helvetica,sans-serif;
    font-size: 10px;
    background-color: white;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}

div.versioninfo {
    text-align: center;
}

div.credits {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

div.mapstore_logo {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    height: 70px;
	overflow: visible;
    background: url('img/MapStore_logo.png') center top  no-repeat;
}

div.csi_logo {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    height: 80px;
	overflow: visible;
    background: url('img/csi.png') center top  no-repeat;
}

div.geoext_logo {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    height: 70px;
	overflow: visible;
    background: url('img/GeoExt_logo.png') center top  no-repeat;
}

div.geosolutions_logo {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    height: 61px;
    background: url('img/GeoSolutions_logo.png') center  no-repeat;
}

h3 {
    font-weight: bold;
    margin-bottom: 0em;
    font-size: 12px;
}

a {
    display: block;
}

h2 a{
    display: inline;
    font-weight: bold;
    margin-bottom: 0em;
    font-size: 14px;
    color:black;

}

