div.topbanner{
	background-image: url(img/banner/world-home.jpg);
	background-repeat:no-repeat;
	background-color:black;
	background-position:center top; 
	height:100%;
}
div.topbanner .logo-gs-white{
	float:left;
	padding-top:25px;
}
div.topbanner .logo-ms-white{
	position:absolute;
	top: 27px;
	left: 10px;
}	