/* crop data table */
.cropdatatooltip{
    border-collapse: collapse;

	font-size:12px;
	margin: 0 auto;

}
.cropdatatooltip tr{
	padding:2px;

	font-family: arial serif;
	font-size: 11px;
}
.cropdatatooltip tr:hover{
	background-color:#EEEEEE;
}
.cropdatatooltip th,.cropdatatooltip td{
	padding:2px;
    border: 1px solid gray;

}

.cropdatatooltip  strong {
	font-style:italic;
	text-align:center;
}
.cropdatatooltip th{
	font-weight:bold;
	background-color:lightgrey;
	text-align:center;
}

/* gxp_nrlChartButton */
.x-btn .gxp-icon-nrl-chart, .x-menu-item .gxp-icon-nrl-chart, .x-tree-node .gxp-icon-nrl-chart,.x-panel-icon.gxp-icon-nrl-chart {
    background-image: url(img/silk/chart_curve.png);
}
/* gxp_nrlMapButton */
.x-btn  .gxp-icon-nrl-map,  .x-menu-item  .gxp-icon-nrl-map,.x-tree-node .gxp-icon-nrl-map,.x-panel-icon.gxp-icon-nrl-map{
    background-image: url(img/silk/map_go.png);
}
/* gxp_nrlTabButton */
.x-btn  .gxp-icon-nrl-tab,  .x-menu-item  .gxp-icon-nrl-tab,.x-tree-node .gxp-icon-nrl-tab,.x-panel-icon.gxp-icon-nrl-tab {
    background-image: url(img/silk/table.png);
}
/* gxp_nrlHelpModuleButton */
.x-btn .gxp-icon-nrl-help, .x-menu-item .gxp-icon-nrl-help, .x-tree-node .gxp-icon-nrl-help,.x-panel-icon.gxp-icon-nrl-help {
    background-image: url(img/silk/help.png) !important;
}

.ic_wrench{
    background-image: url(img/silk/wrench.png);
}
/** custom span (chart selector and so on **/
span.icon_span{
    padding-left:20px;
    background-repeat: no-repeat;
}
.ic_chart-spline{
    background-image: url(img/silk/chart_curve.png);
}
.ic_chart-bar{
    background-image: url(img/silk/chart_bar.png);
}
.ic_chart-line{
    background-image: url(img/silk/chart_line.png);
}

.ic_chart-area{
    background-image: url(img/silk/chart_area.png);
}
.ic_map{
    background-image: url(img/geosilk/map.png);
}
