#left-banner {
	position : absolute;
	left : 0;
	top : 0;
	width : 420px;
	height : 86px;
}
#fdh-header {
	position : absolute;
	top : 0px;
	left : 0px;
	margin-right: 0px;
	width : 100%;
background: url(img/fdh/bgimg.gif) repeat-x;
}
#right-banner {
	float : right;
	display : inline;
	top : 0;
	width : 378px;
	height : 86px;
}
/*********************************
 Welcome Screen
*********************************/
#loading-mask {
  position: absolute;
  background-color: #E3E3E3;
  left:     0px;
  top:      0px;
  width:    100%;
  height:   100%;
  z-index:  20000;

  
  /*background-color: transparent;*/
}

#loading {
  position: absolute;
 
  left:     0px;
  top:      0px;
  width:    100%;
  height:   100%;
  padding:  2px;
  z-index:  20001;

  background-size: 100% auto;
  background-position:center bottom;
  margin:   0 0 0 0;
}

#loading .loading-indicator {
  background: url(img/loading_welcome.gif) no-repeat;
 
  background-repeat: no-repeat;
  background-position:center center;
  background-attachment:fixed;
  overflow:visible;
  
  margin:0;
  width:    100%;
  height: 100%;
  
  text-align: center;
}

/*********************************
 Custom FDH logos
*********************************/

div#homelogos ul {
    display: block; 
    font-size: 11px; 
    margin: 0px auto; 
    list-style-type: none;
}
div#homelogos ul li {
    padding-left: 10px; float: left
}
div#homelogos ul li a {
    padding-right: 3px; 
    display: block; 
    padding-left: 3px; 
    font-size: 12px; 
    padding-bottom: 3px; 
    padding-top: 3px; 
    text-decoration: none
}

div#homelogos {
    margin: 10px auto; 
    width: 900px;
    text-align: center;
}
div#homelogos ul li a {
    width: 48px; height: 48px;
    border-right: #fff 1px transparent; 
    border-left-color: transparent; 
    border-top-color: transparent; 
    border-bottom: #fff 1px transparent;
}
div#homelogos ul li a:hover {
    border-right: #ccc 1px solid; 
    border-left-color: transparent; 
    border-top-color: transparent; 
    border-bottom: #ccc 1px solid
}
.logo_au {
    background: url(img/logos/logo_au.jpg) no-repeat center 50%;
}
.logo_au_th {
    background: url(img/logos/logo_au_th.jpg) no-repeat center 50%;
}
.logo_abn {
    background: url(img/logos/logo_abn.jpg) no-repeat center 50%;
}
.logo_ciat {
    background: url(img/logos/logo_ciat.jpg) no-repeat center 50%;
}
.logo_cilss {
    background: url(img/logos/logo_cilss.jpg) no-repeat center 50%;
}
.logo_ecowas {
    background: url(img/logos/logo_ecowas.jpg) no-repeat center 50%;
}
.logo_fao {
    background: url(img/logos/logo_fao.jpg) no-repeat center 50%;
}
.logo_gef {
    background: url(img/logos/logo_gef.png) no-repeat center 50%;
}
.logo_gefweb {
    background: url(img/logos/logo_gef.png) no-repeat center 50%;
}
.logo_globalmechanism {
    background: url(img/logos/logo_globalmechanism.jpg) no-repeat center 50%;
}
.logo_manoriverunion {
    background: url(img/logos/logo_manoriverunion.jpg) no-repeat center 50%;
}
.logo_omvg {
    background: url(img/logos/logo_omvg.jpg) no-repeat center 50%;
}
.logo_omvs {
    background: url(img/logos/logo_omvs.jpg) no-repeat center 50%;
}
.logo_unep {
    background: url(img/logos/logo_unep.jpg) no-repeat center 50%;
}
.logo_wac {
    background: url(img/logos/logo_wac.jpg) no-repeat center 50%;
}
.logo_gwpao4 {
    background: url(img/logos/logo_gwpao4.jpg) no-repeat center 50%;
}

.csw-viewer{
    background-image: url(img/geosilk/server_table.png);
}

.multislider-label .x-form-item  {
	font-size: 10px;
}

.empty-grid {
    text-align: center;
    padding-top: 50px;
}

.icon-map-add{
	background-image: url(img/silk/map_add.png);
}

.icon-view-gate{
	background-image: url(img/silk/application_view_detail.png);
}

#warning_message {
    font-weight: bold;
    font-size: 15px;
    color: red;
    margin-left: 50px;
}

.change-row {
    background-color: #ffffa8;
    border-color:#FA1505;
} 

.x-tree-node-error .x-tree-node-icon{
	background-image:url(img/silk/cancel.png) !important;
}

.olImageLoadError { 
    /* when OL encounters a 404, don't display the pink image */
    display: none !important;
} 

.tema-legend-container {
    text-align: center;
    margin-top: 10px;
    padding-left: 10px;
}

.tema-legend {
    width: 20px;
    height: 50px;
}

.tema-low-legend {
    background-color: #00FF00;
}

.tema-medium-legend {
    background-color: #FFFF00;
}

.tema-high-legend {
    background-color: #FF0000;
}