
.col1, .col2, .col3, .cols { float:left;}

.col1{ width:683px;}
.col2{ width:297px;}
.cols{ width:190px;}

/*======= index.html =======*/
/*======= index-1.html =======*/
#page2 .marg_right1{ margin-right:10px;}
#page2 .pad_bot3{ padding-bottom:20px;}
#page2 #content{ padding-bottom:64px;}
/*======= index-2.html =======*/
#page3 #content{ padding-bottom:62px;}
/*======= index-3.html =======*/
#page4 #content{ padding-bottom:63px;}
/*======= index-4.html =======*/
#page5 #content{ padding-bottom:62px;}
/*======= index-5.html =======*/
#page6 .pad_bot3{ padding-bottom:20px;}
#page6 #content{ padding-bottom:52px;}
/*======= index-6.html =======*/
