/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, .header, hgroup, keygen, meter, #nav, output, progress, section, source, video {
	display:block;
}
mark, rp, rt, ruby, summary, time {
	display:inline;
}

.logocls{
	margin-top: 20px;
}

.left {
	float:left;
}
.right {
	float:right;
}

.wrapper {
	width:100%;
	overflow:hidden
}
/* Global properties */
body {
	background:#fff;
	border:0;
	font:12px Arial, Helvetica, sans-serif;
	color:#666;
	line-height:20px;
	position: relative;
}
.ic, .ic a {
	border:0;
	float:right;
	background:#fff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0
}
.css3 {
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	box-shadow:0 0 4px rgba(0, 0, 0, .4);
	-moz-box-shadow:0 0 4px rgba(0, 0, 0, .4);
	-webkit-box-shadow:0 0 4px rgba(0, 0, 0, .4);
	position:relative
}
/* Global Structure */
.main {
	margin:0 auto;
	width:98%
}
.body1 {
	background:url(./img/opendata/bg_top.gif) top repeat-x

}
.body2 {
	background:#fff
}
.body3 {
	background:#191919
}
.body4 {
	background:#fff;
}
/* main layout */
a {
	color:#ea5d10;
	text-decoration:underline;
	outline:none
}
a:hover {
	text-decoration:none
}

.header h1 {
	color: #EA5D10;
	font-size: 2.8em;
	font-weight: normal;
	height:130px;
	left:140px;
	position:absolute;
	top:40px;
	width: 350px;
	z-index:2;
}

.header .comune{
	position:absolute;
	z-index:3;
	top: 15px;
	right: 0px;
}



.header h1 span{
color: #666;
}

.header a{
	text-decoration: none;
}


.header h2 {
	font-size: 1.2em;
	position:absolute;
	z-index:3;
	top: 70px;
	left: 140px;
}

h2.pad_bot1 {
	padding-bottom:17px
}
h2.pad_top1 {
	padding-top:18px
}
h3 {
	font-size:24px;
	color:#EA5D10;
	line-height:1.2em;
	padding:42px 0 19px 0
}
h3.pad_top1 {
	padding-top:22px
}
.wrapper h1 {
	
	
	color: #EA5D10;
	
	font-size: 2.4em;
	font-weight: normal;
	padding-bottom: 20px;
}

.wrapper h2 {
	
	
	color: #666;
	
	font-size: 2.0em;
	font-weight: normal;
	padding-bottom: 10px;
}

p {
	padding-bottom:20px
}
/* .header */
.header {
	position:relative;
	height:140px;
}
#logo {
	display:block;
	width:213px;
	height:38px;
	text-indent:-9999px
}

.utilitybox{
	padding-top:5px;
	padding-bottom:5px
}

#percorso {
	float: left;
	height: 30px;
}

#ricerca {
	float: right;
	height: 30px;
}

#ricerca input[type=text]{
	background-color: #fff;
	border: solid 1px #CCC;
	padding: 4px;
	color: #999;
}

#ricerca input[type=text]:focus{
	
	color: #000;
}

#icons {
	position: absolute;
	right: 0px;
	top: 85px;
	z-index: 5;
}
#icons li {
	float:left;
	padding-left:10px
}
#menu {
	padding:33px 0 0
}
#menu li {
	padding:35px 30px 15px 23px;
	float:left;
	background:url(./img/opendata/menu_line.gif) right 0 no-repeat

}
#menu .end {
	background:none;
	padding-right:0
}
#menu li a {
	display:inline-block;
	overflow:hidden;
	font-size:18px;
	color:#191919;
	line-height:1.2em;
	text-decoration:none;
	letter-spacing:-1px
}
#menu li a:hover, #menu #menu_active a {
	color:#ea5d10
}
/* Tooltips */
.aToolTip {
	border:1px solid #fff;
	background:#ea5d10;
	color:#fff;
	margin:0;
	padding:2px 10px;
	font-size:11px
}
.aToolTip .aToolTipContent {
	position:relative;
	margin:0;
	padding:0
}
a.aToolTipCloseBtn {
	display:block;
	height:20px;
	width:20px;
	overflow:hidden;
	background:url(./img/opendata/close.gif) no-repeat;
	text-indent:-9999px;
	outline:none;
	position:absolute;
	top:-15px;
	right:-20px
}
/* The Nivo Slider styles */
#slider {
	position:relative;
	width:683px;
	height:376px;
	z-index:88;
	overflow:hidden
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:60;
	display:none
}
/* The slices in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:50;
	height:100%
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	position:absolute;
	z-index:99;
	right:26px;
	bottom:13px;
	background:url(./img/opendata/buttons_bg.png) 0 0 no-repeat;
	padding:5px;
	padding-right:2px
}
.nivo-controlNav a {
	position:relative;
	z-index:99;
	cursor:pointer;
	text-indent:-5000px;
	width:12px;
	height:12px;
	float:left;
	margin-right:3px;
	background:url(./img/opendata/buttons.png) right 0 no-repeat

}
.nivo-controlNav a.active {
	background-position:left
}
/* Caption styles */
.nivo-caption {
	height:103px;
	width:653px;
	padding-left:30px;
	position:absolute;
	bottom:-20px;
	left:0;
	background:url(./img/opendata/caption_bg.png) repeat;
	z-index:98
}
.nivo-caption strong {
	display:block;
	font-size:27px;
	color:#fff;
	line-height:1.2em;
	font-weight:normal;
	padding:11px 0 5px 0;
	letter-spacing:-1px
}
.nivo-caption span {
	font-weight:bold
}
.nivo-html-caption {
}
/* content */
#content {
	padding-top:0px;
	padding-bottom:32px
}
#content2 {
	padding:5px 5px 40px 5px;
}
.pad1 {
	padding:0 20px 0 20px
}
.pad2 {
	padding:0 28px 0 30px
}
.pad_left1 {
	padding-left:30px
}
.pad_bot1 {
	padding-bottom:5px
}
.pad_bot2 {
	padding-bottom:14px
}
.pad_bot3 {
	padding-bottom:40px
}
.marg_right1 {
	margin-right:39px
}
.pad_top1 {
	padding-top:14px
}
.button {
	display:inline-block;
	width:89px;
	line-height:26px;
	height:26px;
	color:#fff;
	text-decoration:none;
	background:url(./img/opendata/button_bg.png) 0 0 no-repeat;
	text-align:center
}
.button:hover {
	background-position:bottom;
	color:#191919
}
.color1 {
	color:#ea5d10
}
.color2 {
	color:#fff
}
.list1 {
	margin-top:-5px
}
.list1 li {
	line-height:29px
}
.list1 li a, .list2 li a {
	padding-left:14px;
	background:url(./img/opendata/marker_1.gif) 0 5px no-repeat

}
.list1 li a:hover, .list2 li a:hover {
	background-position:0 -24px
}
.list2 {
	margin-top:-2px;
	margin-bottom:-2px
}
.list2 {
	line-height:27px
}
.date {
	float:left;
	width:66px;
	padding-bottom:20px
}
.date strong {
	font-size:50px;
	line-height:1.2em;
	color:#ea5d10;
	display:block;
	margin-top:-10px;
	margin-left:-3px;
	letter-spacing:-3px
}
.date span {
	font-size:24px;
	color:#fff;
	line-height:1.2em;
	display:block;
	margin-top:-13px;
	margin-left:2px;
	letter-spacing:-1px
}
.address span {
	float:left;
	width:81px
}
/* footer */
footer {
	height:1000px;
	color:#191919;
	padding:45px 30px 20px 30px;
	height:66px;
	font-size:13px
}
footer a {
}
footer a:hover {
}
.call {
	float:right;
	font-size:32px;
	color:#ea5d10;
	line-height:1.2em;
	letter-spacing:-1px;
	padding-top:2px
}
.call span {
	font-size:31px;
	color:#191919
}
/* forms */
#ContactForm {
}
#ContactForm span {
	float:left;
	width:100px
}
#ContactForm .wrapper {
	min-height:30px
}
#ContactForm .textarea_box {
	min-height:200px;
	width:100%;
	overflow:hidden;
	padding-bottom:10px
}
#ContactForm a {
	margin-right:10px;
	float:left
}
#ContactForm .input {
	width:254px;
	background:#fff;
	padding:3px 10px;
	color:#191919;
	font:12px Arial, Helvetica, sans-serif;
	height:14px
}
#ContactForm textarea {
	overflow:auto;
	width:504px;
	background:#fff;
	padding:3px 10px;
	color:#191919;
	font:12px Arial, Helvetica, sans-serif;
	height:177px;
	margin:0
}
.headnotizie {
	background:#191919;
	height:360px;
	padding-bottom:16px;
	
}

.headnotizie p{
	
	padding-bottom:3px;
	
}


.headnotizie h3 {
	padding:23px 0 4px 0;
	
	margin-bottom:15px
}
.headnotizie .pad1 a.button {
	margin-top:0px;
	background-image:url(./img/opendata/button_bg_form.png);
	width:94px;
	color:#fff;
}

.headnotizie .pad1 a.button:hover {
	
	color:#000;
}


.headnotizie .pad1 {
	padding:10px 20px;
	height: 180px;
	overflow:hidden;
	color:#fff;
}

.headnotizie .pad1 a{
	
	color:#fcc140;
}

.headnotizie .pad1bis {
	padding:10px 20px;
	background-color: #fcc140;
	color: #000;
	height: 180px;
	overflow:hidden;
}

.headnotizie .pad1bis a{
	
	color: #000;
	
	
	
}

/* -------------
 * Input
 * ------------- */
.jqTransformInputWrapper {
	float:left;
	width:auto !important
}
.jqTransformInputWrapper div {
	float:left
}
/* -------------
 * Selects
 * ------------- */
.jqTransformSelectWrapper {
	position:relative
}
.jqTransformSelectWrapper div {
	float:left;
	font:12px Arial, Helvetica, sans-serif;
	color:#191919;
	display:block;
	position:relative;
	white-space:nowrap;
	height:20px;
	line-height:20px;
	overflow:hidden;
	cursor:pointer;
	background:#fff
}
.jqTransformSelectWrapper div span {
	padding:0 0 0 10px;
	display:block
}
a.jqTransformSelectOpen {
	display:block;
	position:absolute;
	top:1px;
	right:1px;
	width:18px;
	height:18px;
	background:url(./img/opendata/select.gif) 0 0 no-repeat

}
.jqTransformSelectWrapper ul {
	position:absolute;
	top:21px;
	left:0px;
	background:#fff;
	font:12px Arial, Helvetica, sans-serif;
	display:none;
	z-index:10;
	padding:5px 0 5px 0;
	height:50px;
	overflow:auto;
	min-height:20px
}
.jqTransformSelectWrapper ul a {
	display:block;
	padding:0 10px;
	text-decoration:none;
	color:#191919
}
.jqTransformSelectWrapper ul a.selected {
	color:#ea5d10
}
.jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover {
	color:#fff;
	background:#ea5d10;
}
/* -------------
 * Hidden - used to hide the original form elements
 * ------------- */
.jqTransformHidden {
	display:none
}

.grey{
	background-color: #e8e8e9;
	
}

#footer {
	clear:both;
	background-color: #FFFFFF;
	background-image: url(./img/opendata/bg_footer.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	height: 110px;
	font-size: 95%;
	line-height: 150%;
	margin-top: 5px;
}

#footer a{
	color: #666;
	text-decoration:none;
}

#footer p {
	margin:0;
}

.undeline {
	text-decoration: underline;
}

#footer div{
	float: left;
	width: 190px;
	padding-left: 10px;
	height: 80px;
	margin-top: 10px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #D5D5CE;
}

#footer div.noline{
	float: left;
	width: 200px;
	padding-left: 2px;
	height: 20px;
	margin-top: 10px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
	padding-top: 50px;
	color: #666666;
	font-size: 11px;
}

#footer div.noline a{
	color: #666666;
}

#footer div.footerloghi{
	text-align: center;
	width: 150px;
	line-height: 100%;
	padding-right: 5px;
}


#recapitocomune{
	text-align: center;
	padding-bottom: 20px;
	font-size: 0.95em;
	color: #666666;
}

#recapitocomune a{
	color: #666666;
}

.twitterbox{
	
	margin-top: 20px;
	background-color:#FFF;
}

.twitterbox h3{
	color: #FFF;
	background-color: #ea5d10;
	font-size: 16px;
	padding: 5px;
	font-weight:bold;
	position: relative;
}


.twitterbox h3 span{
	background-image: url(./img/opendata/bird_twitter.png);
	background-repeat: no-repeat;
	background-position: right top;
	height: 50px;
	width: 50px;
	position: absolute;
	top: -20px;
	right: 0px;	
	
}

.classifica{
	padding-bottom: 10px;
	}
	
.classifica h3{
	font-size: 16px;
	color: #000;
	}
	
	
.classifica a{
	
	color: #000;
	}


/* twitter css */

.tweet_list {
    background-color: #F0F0F0;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    list-style: none outside none;
    margin: 0;
    overflow-y: hidden;
    padding: 0;
}
.tweet_list .awesome, .tweet_list .epic {
    text-transform: uppercase;
}
.tweet_list li {
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0.5em;
}
.tweet_list li a {
   
}
.tweet_list .tweet_even {
    background-color: #fff;
}
.tweet_list .tweet_avatar {
	float: left;
	
	padding-left: 0px;
}
.tweet_list .tweet_avatar img {
    vertical-align: middle;
	border: 1px dotted #CCC;
	background-color:#fff;
	
}

ol{
	padding-left: 20px;
	
	}

#nav{
	z-index: 100;
	position: absolute;
	top: 130px;
	}
/* twitter css fine */

.articolos{
padding-bottom: 20px;

}

.articolos table td{
padding: 3px 10px 3px 10px ;
border: 1px dotted #fff; 

}

.wrapper legend{
color: #EA5D10;
	
	font-size: 2.0 em;
	font-weight: normal;
	padding-top: 10px;
	padding-bottom: 10px;
}

.wrapper form{
border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	box-shadow:0 0 4px rgba(0, 0, 0, .4);
	-moz-box-shadow:0 0 4px rgba(0, 0, 0, .4);
	-webkit-box-shadow:0 0 4px rgba(0, 0, 0, .4);
	background-color: #f4f4f4;
	
}

.wrapper input[type=text], .wrapper textarea{
width: 300px;
background-color: #fff17e;
border: 1px dotted #ddd; 
padding: 3px;
margin: 5px 0px 15px 0px;
font-size: 1.2em;	
}

.wrapper input[type=button], .wrapper input[type=submit]{

background-color: #EA5D10;
border: 1px solid #EA5D10; 
padding: 3px;
color: #fff;	
}

#ricerca input[type=submit]{

background-color: #EA5D10;
border: 1px solid #EA5D10; 
padding: 3px;
color: #fff;
width: 60px;
cursor: pointer;
}

#ricerca input[type=submit]:hover{

background-color: #fec43d;
border: 1px solid #fec43d; 
padding: 3px;
color: #000;
}

.app{

padding-top: 20px;
padding-bottom: 0px;

}

.app img{

border: 1px solid #ccc;
border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}


/* gis */
td.banner-menu {
	background-color: #e9e9e9;
	background-image: url(./img/opendata/bg_menu.png);
	background-repeat: repeat-x;
	border-bottom: 1px solid #FFFFFF;
	color: #fff;
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 8px;
	padding-right: 8px;
	vertical-align: bottom;
	background-position: bottom;
}

td.banner-login {
	background-image: none;
	background-repeat: no-repeat;
	border-bottom: 1px solid #FFFFFF;
	color: #333;
	font-size: 12px;
	
	padding-left: 8px;
	padding-right: 8px;
	vertical-align: top;
	background-color: #fff;
	padding-top: 5px;
}


td.banner-menu a, td.banner-login a{
	
	color: #333;
	text-decoration:none;
	padding-left: 20px;
	padding-right: 20px;
	
}

input.banner {
    border: 1px solid #266397;
    color: #064377;
    font: 7pt Verdana;
    margin-left: 4px;
    margin-right: 4px;
}

button.banner {
    background-color: #EA5D10;
    border: 1px solid #EA5D10;
    color: #FFFFFF;
    cursor: pointer;
    
    width: 60px;
}
