<% extends ./base.html %>
<% subskin extrahead %>

    <!-- HighStock resources -->
    <script type="text/javascript" src="script/HighStockExt.js"></script> 

    <!-- OpenLayers resources -->
    <link rel="stylesheet" type="text/css" href="externals/openlayers/theme/default/style.css">

	<!-- Basic OpenLayers libs -->
    <script type="text/javascript" src="script/OpenLayers.js"></script>		
	
	<!-- Externatls OpenLayers libraries to manage other extensions -->
	<script type="text/javascript" src="script/OpenLayersExt.js"></script> 
    
    <!-- Ask RingoJS for debug status -->
    <script type="text/javascript" src="debug.js"></script> 
	
	<link rel="stylesheet" type="text/css" href="theme/app/openlayers.css" />
	
	<!-- colorpicker resources 
    <link rel="stylesheet" type="text/css" href="externals/colorpicker/css/colorpicker.css">
    <script type="text/javascript" src="script/colorpicker.js"></script> -->
	
    <!-- GeoExt resources -->
    <link rel="stylesheet" type="text/css" href="externals/GeoExt/resources/css/popup.css">
    <link rel="stylesheet" type="text/css" href="externals/GeoExt/resources/css/layerlegend.css">
    <link rel="stylesheet" type="text/css" href="externals/GeoExt/resources/css/gxtheme-gray.css">	
    <script type="text/javascript" src="script/GeoExt.js"></script> 	
	
	<script type="text/javascript" src="script/GeoExtExt.js"></script>
	
	<!-- PrintPreview resources -->
    <link rel="stylesheet" type="text/css" href="externals/PrintPreview/resources/css/printpreview.css">
    <script type="text/javascript" src="script/PrintPreview.js"></script>
	
    <!-- canvg-1.2 resources -->
	<script type="text/javascript" src="script/canvg-1.2.js"></script> 
	
    <!-- gxp resources -->
    <link rel="stylesheet" type="text/css" href="externals/gxp/src/theme/all.css">

    <script type="text/javascript" src="script/gxp.js"></script> 

    <script type="text/javascript" src="script/proj4js.js"></script>
	<script type="text/javascript" src="script/projCodes.js"></script>

    <!-- GeoExplorer resources -->
    <link rel="stylesheet" type="text/css" href="theme/app/geoexplorer.css" />
    <link rel="stylesheet" type="text/css" href="theme/app/mapstore.css" />
	
	<!-- Advanced Scalebar CSS -->
	<link rel="stylesheet" type="text/css" href="theme/app/scalebar-fat.css" />
    <!-- link rel="stylesheet" type="text/css" href="theme/app/scalebar-thin.css" /-->
	
    <!--[if IE]><link rel="stylesheet" type="text/css" href="theme/app/ie.css"/><![endif]-->        

    <script type="text/javascript" src="script/GeoExplorer.js"></script>
    <script type="text/javascript" src="script/ux.js"></script>
   
    <!-- csw resources -->
    <link rel="stylesheet" type="text/css" href="externals/csw/css/csw.css">
    <script type="text/javascript" src="auth/base64.js"></script>
    <script type="text/javascript" src="script/metadataexplorer.js"></script>
    
    <!-- geocoding data  -->
    <script type="text/javascript" src="data/georeferences.js"></script>
     <!-- QR Code -->
    <script type="text/javascript" src="script/qrcodejs.js"></script>
    <!-- common data  -->
    <script type="text/javascript" src="config/common/localConfig.js"></script>
    
	<!-- translation data  
    <script type="text/javascript" src="translations/fr.js"></script>
    <script type="text/javascript" src="translations/es.js"></script>
    <script type="text/javascript" src="translations/de.js"></script> -->
	<script type="text/javascript" src="translations/en.js"></script>
    <script type="text/javascript" src="translations/it.js"></script>
	
	<!-- uncomment to have  welcome screen
	<script type="text/javascript">
	 
        Ext.onReady(function() {
          setTimeout(function(){
            Ext.get('loading').remove();
            Ext.get('loading-mask').fadeOut({remove:true,duration:1});
          }, 2000);
        });
   
    </script>
    
    <div id="loading-mask"></div>
    <div id="loading">
      <div class="loading-indicator">
      </div>
    </div>
	-->
	
    <script>
		// ///////////////////////////////////////////////
		// This fragment allow to retrieve a content body 
		// of a POST request from Ringo.
		// ///////////////////////////////////////////////
        var content = <% content %>;
		/*if(content && content.data){
			console.log(content);
		}*/   
		
		var app;        
        var modified = false; var mapIdentifier = -1; var authorization = false; var fullScreen = false; var bbox; var useCookies; var templateId;
		
		// /////////////////////////////////////////////////////
		// Extra parameters to add layers at startup
		// /////////////////////////////////////////////////////
		var layName; var layTitle; var wmsurl; var gsturl; var urlformat;
		
        // ///////////////////////////////////////////////////////////////
        // Custom variables from the mapStoreConfig user configuration file 
        // ///////////////////////////////////////////////////////////////
        var proxy; 
        var serverConfig;
        var customConfigName;		
		
        // //////////////////////////////////////////////////
        // Parsing the request to get the parameters
        // //////////////////////////////////////////////////
        var params = location.search.replace(/^\?/,'').replace(/&amp;/g,'&').split("&");
        for (var j=0; j < params.length; j++) {
			var param = params[j].split("=");
			if(param[0]){
				switch ( param[0] ) {
					case "mapId": 
									try{
										mapIdentifier = parseInt(param[1]);
									}catch(e){
										mapIdentifier = -1;
									} 
									break;
					case "auth" : 
									authorization = param[1]; 
									if(param.length > 2){
										for(var i = 2; i < param.length; i++){
											authorization += "=";
										}
									}
									break;
					case "fullScreen" : 
									if(param[1] == 'true') 
										fullScreen = true; 
									else 
										fullScreen = false; 
									break;
					case "layName" : 
									layName = param[1]; 
									break;
					case "layTitle" : 
									layTitle = param[1]; 
									break;
					case "wmsurl" : 
									wmsurl = param[1]; 
									wmsurl = decodeURIComponent(wmsurl);
									break;
					case "gsturl" : 
									gsturl = param[1]; 
									gsturl = decodeURIComponent(gsturl);
									break;
					case "useCookies" : 
									useCookies = param[1]; 
									break;
					case "config":	
									customConfigName = param[1];
									break;
					case "bbox": 
									try{
										bbox = new OpenLayers.Bounds.fromString(param[1]);
									}catch(e){
										bbox = undefined;
									} 
									break;
					case "configId": 
									try{
										templateId = parseInt(param[1]);
									}catch(e){
										templateId = -1;
									} 
									break;
					case "format":
									urlformat = param[1];
									break;
					default :       
									//mapIdentifier = -1;
									//authorization = false;
									//fullScreen = false; 
				}
			}
        }		
		
        var onReady = function(){

            Ext.BLANK_IMAGE_URL = (function() {
                    if (Ext.isIE8 || Ext.isGecko || Ext.isOpera || Ext.isChrome) {
                        return "data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==";
                    } else {
                        return "theme/app/img/blank.gif";
                    }
            })();

            OpenLayers.ImgPath = "externals/openlayers/theme/default/img/";
			
			// ////////////////////////////////
            // Get Proj4js configuration 
			// ////////////////////////////////
            if( typeof(Proj4js)!="undefined" && !(serverConfig.proj4jsDefs===undefined) ){
                for(var name in serverConfig.proj4jsDefs){
                    Proj4js.defs[name] = serverConfig.proj4jsDefs[name];               
                }
            }
            
			// /////////////////////////////////////
            // Get georeferences data to override
			// /////////////////////////////////////
            if (serverConfig.georeferences_data){
                georeferences_data = serverConfig.georeferences_data;
            }
			
            gxp.plugins.ZoomToExtent.prototype.closest = false;

            Ext.ux.IFrameComponent = Ext.extend(Ext.BoxComponent, {
                 onRender : function(ct, position){
                      this.el = ct.createChild({
                        tag: 'iframe',
                        id: 'iframe-'+ this.id,
                        frameBorder: 0, 
                        src: this.url
                      });
                 }
            });
			
		    // //////////////////////////////////////////////////////            
            // Setting the locale based on query string parameter
            // //////////////////////////////////////////////////////
			var query = location.search;        
            if(query && query.substr(0,1) === "?"){
                query = query.substring(1);
            }
            
            var url = Ext.urlDecode(query);        
            var code = url.locale || serverConfig.defaultLanguage || "en";			

			// ////////////////////////////////////////////////////
			// Setting the language code for the GeoExt tools
			// ////////////////////////////////////////////////////
			if (GeoExt.Lang) {
                GeoExt.Lang.set(code);
            }
			
            var appTabsOpts = {
				region: 'center',
				border : false,
				id : 'appTabs',
				enableTabScroll: true
            };
            
            //check if MetadataExplorer plugin is defined in customTools configuration
            var customToolsME = [];
            if(serverConfig.customTools){
                for(var cTools in serverConfig.customTools){
                    if(serverConfig.customTools[cTools].ptype == "gxp_metadataexplorer"){  
                        customToolsME.push(serverConfig.customTools[cTools].ptype);
                    }
                }
            }
            
            //check if MetadataExplorer plugin is defined in tools configuration
            var toolsME = [];                
            if(serverConfig.tools){
                for(var tools in serverConfig.tools){
                    if(serverConfig.tools[tools].ptype == "gxp_metadataexplorer"){  
                        toolsME.push(serverConfig.tools[tools].ptype);
                    }
                }
            }            
            
            if(!serverConfig.tab && toolsME.length == 0 && customToolsME.length == 0){
                appTabsOpts.layout = 'fit';
                appTabs = new Ext.Panel(appTabsOpts); 
            }else{
                appTabs = new Ext.TabPanel(appTabsOpts); 
            }
			
			var header = serverConfig.header;
			var footer = serverConfig.footer;
			
			var viewport = {
					id: 'appVieport',
					layout: 'fit',
					border: false
			};

			// in header and footer, we need numbers, not strings
			var parseKnowIntegers = function(section){
				var knownInteger = {'height':true, 'maxHeight': true, 'minWidth':true};
				for(var key in knownInteger){
					if(section[key]){
						try{
							section[key] = parseInt(section[key]);	
						}catch (e){
							// unknown parameter value
						}
					}	
				}
				return section;
			}

			var parseHeader = function(section) {
				return (section && section.header !== undefined && section.header !== null) ? section.header : false;
			}
			
			if(header || footer){
				var north = {
					header: parseHeader(header.container),
					region: 'north',
					id: 'msheader'
				};
			
				if(header){
					north = Ext.applyIf(north, (header.container ? parseKnowIntegers(header.container) : {}));
					north.html = (header.css || '') + (header.html || '');
				}
				
			    var south = {
					header: parseHeader(footer.container),
					region: 'south',
					id: 'msfooter'
				};
				
				if(footer){
					south = Ext.applyIf(south, (footer.container ? parseKnowIntegers(footer.container) : {}));
                    var html = footer.html;
                    if(footer.html instanceof Array){
                        html = footer.html.join("");
                    }
					south.html = (footer.css || '') + (html || '');
				}
				
				viewport.items = [{
					region: 'center',
					layout: 'border',
					border: false,
					header: false, 
					items: [north, appTabs, south]
				}];
			}else{
				viewport.items = [{
					region: 'center',
					layout: 'border',
					border: false,
					header: false,                    
					items: [appTabs]
				}]
			}			
			
			var appViewport = new Ext.Viewport(viewport);
            
            // /////////////////////////////////////////////////////////////
            // Parsing WMS servers Sources for getCapabilities operation
            // /////////////////////////////////////////////////////////////
            try{
                var sources = serverConfig.gsSources;
            }catch(e){
                sources = {
                    mapquest: {
                        ptype: "gxp_mapquestsource"
                    },
                    osm: {
                        ptype: "gxp_osmsource"
                    },
                    google: {
                        ptype: "gxp_googlesource"
                    },
                    bing: {
                        ptype: "gxp_bingsource"
                    },
                    ol: {
                        ptype: "gxp_olsource"
                    }
                };
          
                Ext.Msg.show({
                      title: "Startup",
                      msg: "An error occurred while parsing the CUSTOM GeoServer sources",
                      buttons: Ext.Msg.OK,
                      icon: Ext.MessageBox.ERROR
                });
            }
 
			/*var auth = 'Basic ' + Base64.encode('admin:admin');
			      Ext.Ajax.defaultHeaders = {
                'Authorization' : auth
            };*/

			if(gsturl){
				serverConfig.geoStoreBase = gsturl;
			}
			
            app = new GeoExplorer.Composer({
                scaleOverlayMode : serverConfig.scaleOverlayMode || (serverConfig.advancedScaleOverlay ? 'advanced' : 'basic'),
				defaultLanguage: serverConfig.defaultLanguage,	
				actionToolScale: serverConfig.actionToolScale || "small",
                customPanels: serverConfig.customPanels,
                modified: false,
                proxy: proxy,
				tools: serverConfig.tools,
				removeTools: serverConfig.removeTools,
				geoStoreBaseURL: serverConfig.geoStoreBase || ('http://' + window.location.host + '/geostore/rest/'),
                portalConfig: serverConfig.portalConfig,
				loadingPanel: serverConfig.loadingPanel || {},
                defaultSourceType: "gxp_wmssource",
                renderToTab : 'appTabs',
                about: {
                    title: "Custom Map",
                    'abstract': "Custom Map",
                    contact: "<a href='#'>#</a>."
                },
                sources: sources,
				scaleOverlayUnits: serverConfig.scaleOverlayUnits,
                georeferences: georeferences_data,
                map: serverConfig.map,
				customTools: serverConfig.customTools
            }, mapIdentifier, authorization && authorization == "false" ? null: authorization, fullScreen, templateId);   
            
            app.on({
                'portalready' : function() {              	
                    if(fullScreen) {
                        var westPanel = Ext.getCmp('west');
                        westPanel.setActiveTab('legend');
                        westPanel.hideTabStripItem('tree');
                    }
					/////////////////////
					// Fractional Zoom //
					/////////////////////
                    if(app.mapPanel.map.restrictedExtent && app.mapPanel.map.fractionalZoom){
                        app.mapPanel.map.zoomToExtent(app.mapPanel.map.restrictedExtent);
                    }
                }, 
                'ready' : function(){
                    app.modified = false;
                    if(app.mapPanel.map.restrictedExtent && app.mapPanel.map.fractionalZoom){
                        app.mapPanel.map.zoomToExtent(app.mapPanel.map.restrictedExtent);
                    }
					// ///////////////////////////////////////////////////
					// Visualizing metadata tab and layers at startup 
					// ///////////////////////////////////////////////////
					var addLayer = app.tools["addlayer"];
					
					if(addLayer){
                        
						if(useCookies || content.data){
							var layersList;
							
							if(content.data){
								layersList = content.data;
							}else if(useCookies){
								var opener = window.opener;
								var cookie = opener.document.cookie;
								
								var cookies = cookie.split(";");
								var layersList;
								for(var i=0; i<cookies.length; i++){
									if(cookies[i].indexOf(useCookies) != -1){
										layersList = cookies[i].split("=")[1];
									}
								}
							}
								
							if(layersList){
								var layers = layersList.split("#");
								var resources = [];
								
								for(var i=0; i<layers.length; i++){
									var keys = layers[i];
									
									keys = unescape(keys);
									keys = Ext.util.JSON.decode(keys);
									
									var lname = keys.layer;
									var lwms = decodeURIComponent(keys.wms);
									var pname = keys.pname;
									var format = keys.format;
									
									resources.push({
										msLayerTitle: lname,
										msLayerName: lname,
										msGroupName: pname,
										wmsURL: lwms,
										format: format
									});
								}
								
								addMSLayer(resources);
							}
						}else if(layName && wmsurl){
							var title = layTitle ? layTitle : layName;

							addMSLayer([{
								msLayerTitle: unescape(title),
								msLayerName: unescape(layName),
								msGroupName: undefined, // TODO: not supported yet
								wmsURL: wmsurl,
								format: urlformat
							}]);
						}     

						/*var resources = [{
							format: "wms",
							msGroupName: "NDVI_2014 runs from 2014-01-01T00:00:00 UTC to 2014-12-19T00:00:00 UTC",
							msLayerName: "NDVI_2014",
							msLayerTitle: "NDVI_2014",
							wmsURL: "http://geoportale.lamma.rete.toscana.it/geoserver/NDVI/ows?&SERVICE=WMS&REQUEST=GetCapabilities&VERSION=1.3.0"
						}];
								
						addMSLayer(resources);*/				
						
						/*var resources = [{
							format: "wms",
							msGroupName: "MODELLO WRF-ARW a 12km - Maschera Terra - Acqua - (2015-04-21 ore 00 UTC).",
							msLayerName: "arw_12km_Land_cover_land1_sea0_surface_20150421T000000000Z:0.0",
							msLayerTitle: "arw_12km_Land_cover_land1_sea0_surface_20150421T000000000Z:0.0",
							wmsURL: "http://geoportale.lamma.rete.toscana.it/geoserver/ARW_12KM_RUN00/ows"
						}];
								
						addMSLayer(resources);*/
					}else{
						Ext.Msg.show({
							 title: "Add Layer",
							 msg: "AddLayer plugin missing in configuration!",
							 width: 300,
							 icon: Ext.MessageBox.ALERT
						});  
					}
					
				    if(bbox){
						app.mapPanel.map.zoomToExtent(bbox, true);
					}

                }
            });
			
		   /**
			* Add a WMS layer from GeoNetwork 
			*
			* TODO: Check the API using a MapServer URL as wmsURL.
			*/
			addMSLayer = function(resources){
				var addLayer = app.tools["addlayer"];
				
				for(var i=0; i<resources.length; i++){
					var resource = resources[i];
					var resourceName = resource.msLayerName;
					
					var customParams = {};
					
					//
					// Setting the Style
					//
					var layerString = resourceName.split(":");
					var styles;
					var style;
					if((resourceName.indexOf("Wind") != -1) && (resourceName.indexOf("gfs") != -1)){
                        styles = "wind_arrow_palette_gfs";
                        style = "wind_arrow_palette_raster_gfs"; 
                    }else if ((resourceName.indexOf("Wind") != -1) && (resourceName.indexOf("arw") != -1)){
                        styles = "wind_arrow_palette";
                        style = "wind_arrow_palette_raster";                         
                    }else if(resource.wmsURL.indexOf('RADAR') != -1){					
                        styles = layerString[0] + "_" + layerString[1];
                        style = layerString[0] + "_" + layerString[1];                                                       
                    }else{
                        styles = layerString[0].substring(0,layerString[0].lastIndexOf("_")) + "_" + layerString[1];
                        style = layerString[0].substring(0,layerString[0].lastIndexOf("_")) + "_" + layerString[1];
                    }
					
					//
					// Setting the Group
					//
					if(resource.wmsURL.indexOf("ARW") != -1 || resource.wmsURL.indexOf("GFS") != -1){
						resource.msGroupName = "MODELLI";
					}else if(resource.wmsURL.indexOf("MSG") != -1){
						resource.msGroupName = "SATELLITE";
					}else if(resource.wmsURL.indexOf("NDVI") != -1){
						resource.msGroupName = "NDVI";
					}else{
						resource.msGroupName = "default";
					}
					
					//
					// Update the resource basic information
					//
                    resource.msLayerName = layerString[0],
                    resource.msLayerTitle = layerString[1] ? layerString[0] + ":" + layerString[1] : layerString[0],
                    customParams.elevation = layerString[1] ? layerString[1] : "",
                    customParams.styles = ((resourceName.indexOf("Wind") != -1) || layerString[1]) ? [styles] : [],
                    customParams.style = ((resourceName.indexOf("Wind") != -1) || layerString[1]) ? [style] : [],
                    customParams.format = "image/png8";
                    customParams.loadingProgress = true;
					
					resource.customParams = customParams;
					
					resource.sourceOptions = {
						layerBaseParams:{
							FORMAT: "image/png8",
							TILED: true,
							TILESORIGIN:"-20037508.34, -20037508.34"
						}
					};
                }				
							
				addLayer.on({
					'ready': function(records){
						
						// ///////////////////////////////////////////////////////////////////
						// Calculate the time values related to the whole set of added layers 
						// ///////////////////////////////////////////////////////////////////
						var startDate;
						var endDate;
						var timeStep;
						var timeUnits;
						
						var setNowTime = false						
						
						for(var i=0; i<records.length; i++){
							var record = records[i].record;
							
							var layer = record.get('layer');
							
							// /////////////////
							// Time Intervall
							// /////////////////
							
							var layerStartTime =  OpenLayers.Date.parse(layer.metadata.timeInterval[0][0]);
							if(!startDate){
								startDate = layerStartTime;
							}else if(layerStartTime.getTime() < startDate.getTime()){
								startDate = layerStartTime;
							}
							
							var layerEndTime =  OpenLayers.Date.parse(layer.metadata.timeInterval[0][1]);
							if(!endDate){
								endDate = layerEndTime;
							}else if(layerEndTime.getTime() > endDate.getTime()){
								endDate = layerEndTime;
							}
							
							// ////////////
							// Time Step
							// ////////////
							var valStep = layer.metadata.timeInterval[0][2];
							var r = /\d+/g;
							var s = valStep;
							var step, m;
							while ((m = r.exec(s)) != null) {
							  step = m[0];
							}                                   
							
							step = step == 2 ? "16" : step;
							if(!timeStep || (step < timeStep)){
								timeStep = step;
							}
							
							// ////////////
							// Time Units
							// ////////////
							valStep = valStep.slice(-1);
							if(!timeUnits){
								timeUnits = valStep;
							}else if(timeUnits != valStep){
								if((timeUnits == 'D' && valStep ==  'H') || (timeUnits == 'H' && valStep ==  'M')){
									timeUnits = valStep;
								}
							}	

							timeUnits = (timeUnits == 'H' || timeUnits == 'Hours') ? 
									timeUnits = 'Hours' : ((timeUnits == 'D' || timeUnits == 'Days') ? 
										timeUnits = 'Days' : timeUnits = 'Minutes');	

							var layerName = record.get('name');
							if(layerName.indexOf("NDVI") === -1 && layerName.indexOf("50km") === -1){
								setNowTime = true;
							}							
						}
						
						var playback = app.tools["playback"];
						var timeManager = playback.getTimeManager();
                        
                        //adjust tipeStep to manage only Minutes
                        switch (timeUnits){
                            case 'Hours':
                                timeStep = timeStep * 60;
                                break;
                            case 'Days':
                                timeStep = timeStep * 1440;
                                break;                                
                            default:
                                timeStep = timeStep;
                        }
						
						timeManager.step = timeStep;
						timeManager.units = "Minutes"; //timeUnits;
						timeManager.fixedRange = true;
						timeManager.forceIncrement = true;
						timeManager.setStart(startDate);
						timeManager.setEnd(endDate);
							
						timeManager.events.triggerEvent("rangemodified"); 		
						timeManager.setTime(startDate);						
						
					    if(setNowTime === true){
							timeManager.currenttime(false,false);
						}
                        
                        //set startDate and endDate of playbackOptionsPanel                        
                        playback.populateTimeOptionsPanel();
                        
						var baseLayer1 = app.mapPanel.map.getLayersByName("Stati")[0];
						var baseLayer2 = app.mapPanel.map.getLayersByName("Regioni")[0];
						var baseLayer3 = app.mapPanel.map.getLayersByName("Province")[0];
						var baseLayer4 = app.mapPanel.map.getLayersByName("Comuni Italia")[0];
						app.mapPanel.map.setLayerIndex(baseLayer1, 200);
						app.mapPanel.map.setLayerIndex(baseLayer2, 201);
						app.mapPanel.map.setLayerIndex(baseLayer3, 202);
						app.mapPanel.map.setLayerIndex(baseLayer4, 203);
					}
				});
				
				addLayer.addLayer(resources);
			};
	    };		

	    // geostore base
	    if(!serverConfig){
	    	serverConfig = {};
	    }
		
        serverConfig = Ext.applyIf(serverConfig, localConfig);
		serverConfig.geoStoreBaseURL = serverConfig.geoStoreBase || ('http://' + window.location.host + '/geostore/rest/');

		var configuration = customConfigName ? customConfigName : "mapStoreConfig";
		
		// use GeoExplorerLoader to load configuration files
		var loader = new GeoExplorerLoader(serverConfig, configuration, mapStoreDebug, mapIdentifier, 
			authorization, fullScreen, templateId);
		
		loader.on("configfinished", function (config){
              //apply the loaded configuration.
              serverConfig = Ext.applyIf(serverConfig, config);
              proxy = mapStoreDebug === true ? "/proxy/?url=" : serverConfig.proxy;
			  
              //ready to create GeoExplorer
              Ext.onReady(onReady);
		});
    </script>

	<div style="position:absolute; top:-10000px; left:-10000px; visibility:hidden"><canvas id="printcanvas" /></div>
