<% extends ./base.html %>
<% subskin extrahead %>
    
    <!-- MapStoreManager includes  -->
    <script type="text/javascript" src="auth/base64.js"></script>
    <link rel="stylesheet" type="text/css" href="externals/mapmanager/theme/css/mapstoremanager.css">
    <script type="text/javascript" src="script/ux.js"></script>
    <script type="text/javascript" src="script/mapmanager.js"></script>
    <!-- QR Code -->
    <script type="text/javascript" src="script/qrcodejs.js"></script>
    <!-- common data  -->
    <script type="text/javascript" src="config/common/localConfig.js"></script>
	
	<!-- uncomment to have  welcome screen
	<script type="text/javascript">
	 
        Ext.onReady(function() {
          setTimeout(function(){
            Ext.get('loading').remove();
            Ext.get('loading-mask').fadeOut({remove:true,duration:1});
          }, 2000);
        });
   
    </script>
    
    <div id="loading-mask"></div>
    <div id="loading">
      <div class="loading-indicator">
      </div>
    </div>
	-->
	
    <script>

        Ext.onReady(function(){

            // This login page it's a workaround for FF and Chrome, needs work for IE

            // This URL's are hardcoded to don't need access to other URL's (config) that should be securized
            var geoStoreBase = "http://mariss.geo-solutions.it/geostore/rest/"; // the geostore base URL to get user details
            var projectBase = "http://mariss.geo-solutions.it/mapstore/manager"; // the URL to be loaded when the user do the login

            // empty MSMLogin only used for text
            var loginWidget = new MSMLogin({
                target:{},
                statelessSession: true,
                externalHeaders: false
            });

            // Open clear viewport with the header
            var appTabs = new Ext.TabPanel({
                region: 'center',
                border : false,
                id : 'appTabs',
                enableTabScroll: true
            });

            // hardcoded header for MARISS
            var header = {
                "container": {
                    "border": false,
                    "header": false,
                    "collapsible": true,
                    "collapseMode":  "mini",
                    "hideCollapseTool": true,
                    "split": true,
                    "animCollapse": false,
                    "minHeight": 80,
                    "maxHeight": 80,
                    "height": 80
                },
                "html":"<img style=\"position:absolute; top:0px; left:20px; z-index:1000\" src=\"theme/app/img/mariss_logo.jpg\" height=\"100%\"/><h1 style=\"color:grey; font-size:30px; position:absolute; top:20px; left:260px; z-index:1000\">MARISS Project</h1></div>",
                "css": "<style>#msheader .x-panel-body .x-panel-body-noheader{padding:30px;background-color: #FFFFFF;}</style>"
            };
            
            var viewport = {
                    id: 'appVieport',
                    layout: 'fit',
                    border: false
            };

            // in header and footer, we need numbers, not strings
            var parseKnowIntegers = function(section){
                var knownInteger = {'height':true, 'maxHeight': true, 'minWidth':true};
                for(var key in knownInteger){
                    if(section[key]){
                        try{
                            section[key] = parseInt(section[key]);  
                        }catch (e){
                            // unknown parameter value
                        }
                    }   
                }
                return section;
            }
            
            if(header){
                var north = {
                    header: false,
                    region: 'north',
                    id: 'msheader'
                };

                north = Ext.applyIf(north, (header.container ? parseKnowIntegers(header.container) : {}));
                north.html = (header.css || '') + (header.html || '');
                
                var south = {
                    header: false,
                    region: 'south',
                    id: 'msfooter'
                };
                
                viewport.items = [{
                    region: 'center',
                    layout: 'border',
                    border: false,
                    header: false, 
                    items: [north,appTabs,south]
                }];
            }         
            
            var appViewport = new Ext.Viewport(viewport);

            /** 
             * api: method[submitLogin]
             * Submits the login and open the projectBase page
             */ 
            var submitLogin = function (form) {

                var fields = form.getValues();
                var pass = fields.loginPassword;
                var user = fields.loginUsername;
                var auth= 'Basic ' + Base64.encode(user+':'+pass);

                Ext.Ajax.request({
                    method: 'GET',
                    url: geoStoreBase + 'users/user/details/',
                    scope: this,
                    headers: {
                        'Accept': 'application/json',
                        'Authorization' : auth
                    },
                    success: function(response, form, action) {
                        // open project url
                        var loginUrl = projectBase.replace("http://", "http://" + user + ":" + pass + "@");
                        document.cookie = "Authorization=" + auth;

                        // FIXME: IE fix. We need to handle it on server side
                        if (window.ActiveXObject) {
                          location.href = projectBase + "?user=" + user + "&password=" + pass;
                        }else{
                            location.href = loginUrl;
                        }

                        // // code for IE
                        // if (window.ActiveXObject) {
                        //   var xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
                        //   // IE clear HTTP Authentication
                        //     xmlhttp.open("GET", projectBase, true, user, pass);
                        //     // xmlhttp.setRequestHeader("Authorization", auth);
                        //     xmlhttp.send("");
                        //     xmlhttp.onreadystatechange = function() {
                        //         if (xmlhttp.readyState == 4) {
                        //             window.location.href= projectBase;
                        //         }
                        //     }
                        // }else{
                        //     location.href = loginUrl;
                        // }
                    },
                    failure: function(response) {
                        Ext.MessageBox.show({
                            title: loginWidget.loginErrorTitle,
                            msg: loginWidget.loginErrorText,
                            buttons: Ext.MessageBox.OK,
                            animEl: 'mb4',
                            icon: Ext.MessageBox.WARNING
                        });
                        form.markInvalid({
                            "loginUsername": loginWidget.loginErrorText,
                            "loginPassword": loginWidget.loginErrorText
                        });
                    }
                });
            };

            this.win = new Ext.Window({
                title: "Login",
                iconCls: 'user',
                layout: "form",
                width: 275,
                closable: false,
                height: 130,
                plain: true,
                border: false,
                modal: true,
                items: [{
                    xtype:"form",
                    layout:"form",
                    items:[{  
                        xtype: 'textfield',
                        fieldLabel: loginWidget.userFieldText,
                        name:'loginUsername', 
                        allowBlank:false,
                        listeners: {
                          beforeRender: function(field) {
                            field.focus(false, 1000);
                          }
                        }
                    },{  
                        xtype: 'textfield',
                        fieldLabel: loginWidget.passwordFieldText,
                        name:'loginPassword', 
                        inputType:'password', 
                        allowBlank:false
                    }],
                    buttons:[{ 
                        // text: "Login",
                        text: loginWidget.loginText,
                        iconCls: 'login',
                        formBind: true,
                        handler: function(button){
                            var form = button.ownerCt.ownerCt.getForm();
                            submitLogin(form);
                        }
                    }],
                    keys: [{ 
                        key: [Ext.EventObject.ENTER],
                        scope: this,
                        handler: this.submitLogin
                    }]
                }]
            });
            this.win.show();  
        });    
    </script>

	<div style="visibility:hidden"><canvas id="printcanvas" /></div>
