/* GeoSolutions SLIDE */
	/* root element for scrollable */ 
	div.scrollprod {
		/* required settings */ 
		position:relative;
		overflow:hidden;
		list-style-type:none;
		/* vertical scrollers have typically larger height than width */ 
		height: 320px;
		width: 560px;
	}
	/* root element for scrollable items */ 
	div.scrollprod div.itemsprod {
		position:absolute;
		/* this time we have very large space for the height */ 
		height:20000em;
	}
	#scroll,#gallery {
	    background:url(../images/bg_gallery.png)  no-repeat; 
		position:relative;
		height:345px;
		overflow:hidden;
		padding: 0px 0px 0px 0px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		width: 920px !important;
	}
	#tools,#samples {
		width:9999em;
		position:absolute;
		height:280px;
	}
	#gallerywrapper{
		position:relative;
		
		overflow:visible;overflow-x:visible;
		padding: 0px 0px 0px 0px;
	
	}
	.tool {
		float:left;
		width:920px;
		height:280px;
		background-repeat:no-repeat;
		background-position:0 0px;
	}
	
	/*.details*/ .slidecontent {
		/*position:absolute;
		 sovrascrivi style base 
		margin:0 0 0 160px !important;		
		float:none !important;    */	
		
	}
	.product-box {
		margin:0;
		position:absolute;
		width:100px;
	}
	
	
	#thumbs {
		position:absolute;
		top:280px;
		width:920px;
	}
	.t a {
		background:none;
		margin-left:29px;
		display:block;
		float:left;
		cursor:pointer;
	}
	.t a.active {
		cursor:default !important;
		background:url(../images/selettore.png) top center no-repeat;/*sprite.png) -397px -10px*/
	}
	.navi {
		/*margin-left:204px;
		_margin-left:194px;*/ float: right;
    height: 50px;
    text-align: right;
    width:300px;/*342px*/
	}
	
	.navi img{ margin-top:10px;}
	
/* / GeoSolutions SLIDE */
